*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(216, 185, 144);
    

}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    /* height: 50%; */
    object-fit: contain;
}
iframe{
    width: 100%;
    height: 100%;
    object-fit: contain;
}