
.mail-app{
    /* background-color: lightsalmon; */
    margin: 0 auto;
    display: flex;
    width: 95vw;
    padding: 10px;
    justify-content: space-between;
    min-height: 90vh;
}


























