.read {
  background-color: var(--clr1);
}
.unread {
  background-color: white;
}

.star-icon {
  height: 30px;
  width: 30px;
  margin: 0 20px;
  cursor: pointer;
}

.row-preview {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
