
   .note-list{
     
       /* background-color: lightgray; */
    }
    
    .note-list > li{
        min-height: 8rem; 
        max-height: 20rem;
        width: 18.75rem;
        border-radius: 5px;
        border: 2px solid #a8a8a8; 
        
        }